@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboInvaders";
  src: url("./fonts/Robot-Invaders.ttf");
}

@font-face {
  font-family: "nicoMoji";
  src: url("./fonts/NicoMoji-Regular.ttf");
}
